<div id="custom-overlay" [style.display]="splash ? 'none': 'none'">
  <div class="flb">
    <div class="Aligner-item Aligner-item--top"></div>
    <h1 id="appName">نكت</h1>
    <div class="Aligner-item Aligner-item--bottom"></div>
  </div>
</div>

<ion-header dir="rtl">
  <ion-navbar>
    <ion-buttons start>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      أخر مكاين ديال الضحك
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="all" dir="rtl" padding>
  <ion-card class="bounceIn">
    <ion-card-content class="card_Content" dir="rtl">
      <!-- this is only if this gag is in my favorit gags -->
      <ion-icon class="favo" name="bookmark"></ion-icon>
      <!-- this is only if this gag is in my favorit gags -->
      
      <p class="gagInfos">
          <ion-badge item-end>#مجتمع</ion-badge>
          <ion-badge item-end color="light"><ion-icon name="person"></ion-icon> ملك النكت</ion-badge>
          <ion-badge item-end color="light"><ion-icon name="eye"></ion-icon> 56</ion-badge>
      </p>
      <p id="nokta-txt">
        مرة وحدة مثقفة صحت جوزها بنص الليل بتقولو: هل ينام الحب ليلاً أم ينام الليل حباً، أم أنا والليل والحب ننام.. رد عليها جوزها:
      </p>
      <div id="read-more">
        .
        .
        .
        .
        .
      </div>
      <button (click)="gotoFull()" ion-button icon-left class="read-more">
        <div>+</div>
      </button>
    </ion-card-content>
  
    <ion-row class="line_post line_post1">
      <ion-col>
        <button (click)="toggle()" ion-button icon-left full clear class="btns">
          <ion-icon name="heart-outline" *ngIf="!visible"></ion-icon>
          <ion-icon name="heart" *ngIf="visible"></ion-icon>
          <div>12 نايس</div>
        </button>
      </ion-col>
    </ion-row>
  
  </ion-card>
  <ion-card class="bounceIn">
    <ion-card-content class="card_Content" dir="rtl">
      <!-- this is only if this gag is in my favorit gags -->
      <ion-icon class="favo" name="bookmark"></ion-icon>
      <!-- this is only if this gag is in my favorit gags -->
      
      <p class="gagInfos">
          <ion-badge item-end>#مجتمع</ion-badge>
          <ion-badge item-end color="light"><ion-icon name="person"></ion-icon> ملك النكت</ion-badge>
          <ion-badge item-end color="light"><ion-icon name="eye"></ion-icon> 56</ion-badge>
      </p>
      <p id="nokta-txt">
        مرة وحدة مثقفة صحت جوزها بنص الليل بتقولو: هل ينام الحب ليلاً أم ينام الليل حباً، أم أنا والليل والحب ننام.. رد عليها جوزها:
      </p>
      <div id="read-more">
        .
        .
        .
        .
        .
      </div>
      <button (click)="gotoFull()" ion-button icon-left class="read-more">
        <div>+</div>
      </button>
    </ion-card-content>
  
    <ion-row class="line_post line_post1">
      <ion-col>
        <button (click)="toggle()" ion-button icon-left full clear class="btns">
          <ion-icon name="heart-outline" *ngIf="!visible"></ion-icon>
          <ion-icon name="heart" *ngIf="visible"></ion-icon>
          <div>12 نايس</div>
        </button>
      </ion-col>
    </ion-row>
  
  </ion-card>
  <ion-card class="bounceIn">
    <ion-card-content class="card_Content" dir="rtl">
      <!-- this is only if this gag is in my favorit gags -->
      <ion-icon class="favo" name="bookmark"></ion-icon>
      <!-- this is only if this gag is in my favorit gags -->
      
      <p class="gagInfos">
          <ion-badge item-end>#مجتمع</ion-badge>
          <ion-badge item-end color="light"><ion-icon name="person"></ion-icon> ملك النكت</ion-badge>
          <ion-badge item-end color="light"><ion-icon name="eye"></ion-icon> 56</ion-badge>
      </p>
      <p id="nokta-txt">
        مرة وحدة مثقفة صحت جوزها بنص الليل بتقولو: هل ينام الحب ليلاً أم ينام الليل حباً، أم أنا والليل والحب ننام.. رد عليها جوزها:
      </p>
      <div id="read-more">
        .
        .
        .
        .
        .
      </div>
      <button (click)="gotoFull()" ion-button icon-left class="read-more">
        <div>+</div>
      </button>
    </ion-card-content>
  
    <ion-row class="line_post line_post1">
      <ion-col>
        <button (click)="toggle()" ion-button icon-left full clear class="btns">
          <ion-icon name="heart-outline" *ngIf="!visible"></ion-icon>
          <ion-icon name="heart" *ngIf="visible"></ion-icon>
          <div>12 نايس</div>
        </button>
      </ion-col>
    </ion-row>
  
  </ion-card>
  <ion-card class="bounceIn">
    <ion-card-content class="card_Content" dir="rtl">
      <!-- this is only if this gag is in my favorit gags -->
      <ion-icon class="favo" name="bookmark"></ion-icon>
      <!-- this is only if this gag is in my favorit gags -->
      
      <p class="gagInfos">
          <ion-badge item-end>#مجتمع</ion-badge>
          <ion-badge item-end color="light"><ion-icon name="person"></ion-icon> ملك النكت</ion-badge>
          <ion-badge item-end color="light"><ion-icon name="eye"></ion-icon> 56</ion-badge>
      </p>
      <p id="nokta-txt">
        مرة وحدة مثقفة صحت جوزها بنص الليل بتقولو: هل ينام الحب ليلاً أم ينام الليل حباً، أم أنا والليل والحب ننام.. رد عليها جوزها:
      </p>
      <div id="read-more">
        .
        .
        .
        .
        .
      </div>
      <button (click)="gotoFull()" ion-button icon-left class="read-more">
        <div>+</div>
      </button>
    </ion-card-content>
  
    <ion-row class="line_post line_post1">
      <ion-col>
        <button (click)="toggle()" ion-button icon-left full clear class="btns">
          <ion-icon name="heart-outline" *ngIf="!visible"></ion-icon>
          <ion-icon name="heart" *ngIf="visible"></ion-icon>
          <div>12 نايس</div>
        </button>
      </ion-col>
    </ion-row>
  
  </ion-card>
  <ion-card class="bounceIn">
    <ion-card-content class="card_Content" dir="rtl">
      <!-- this is only if this gag is in my favorit gags -->
      <ion-icon class="favo" name="bookmark"></ion-icon>
      <!-- this is only if this gag is in my favorit gags -->
      
      <p class="gagInfos">
          <ion-badge item-end>#مجتمع</ion-badge>
          <ion-badge item-end color="light"><ion-icon name="person"></ion-icon> ملك النكت</ion-badge>
          <ion-badge item-end color="light"><ion-icon name="eye"></ion-icon> 56</ion-badge>
      </p>
      <p id="nokta-txt">
        مرة وحدة مثقفة صحت جوزها بنص الليل بتقولو: هل ينام الحب ليلاً أم ينام الليل حباً، أم أنا والليل والحب ننام.. رد عليها جوزها:
      </p>
      <div id="read-more">
        .
        .
        .
        .
        .
      </div>
      <button (click)="gotoFull()" ion-button icon-left class="read-more">
        <div>+</div>
      </button>
    </ion-card-content>
  
    <ion-row class="line_post line_post1">
      <ion-col>
        <button (click)="toggle()" ion-button icon-left full clear class="btns">
          <ion-icon name="heart-outline" *ngIf="!visible"></ion-icon>
          <ion-icon name="heart" *ngIf="visible"></ion-icon>
          <div>12 نايس</div>
        </button>
      </ion-col>
    </ion-row>
  
  </ion-card>
  <ion-card class="bounceIn">
    <ion-card-content class="card_Content" dir="rtl">
      <!-- this is only if this gag is in my favorit gags -->
      <ion-icon class="favo" name="bookmark"></ion-icon>
      <!-- this is only if this gag is in my favorit gags -->
      
      <p class="gagInfos">
          <ion-badge item-end>#مجتمع</ion-badge>
          <ion-badge item-end color="light"><ion-icon name="person"></ion-icon> ملك النكت</ion-badge>
          <ion-badge item-end color="light"><ion-icon name="eye"></ion-icon> 56</ion-badge>
      </p>
      <p id="nokta-txt">
        مرة وحدة مثقفة صحت جوزها بنص الليل بتقولو: هل ينام الحب ليلاً أم ينام الليل حباً، أم أنا والليل والحب ننام.. رد عليها جوزها:
      </p>
      <div id="read-more">
        .
        .
        .
        .
        .
      </div>
      <button (click)="gotoFull()" ion-button icon-left class="read-more">
        <div>+</div>
      </button>
    </ion-card-content>
  
    <ion-row class="line_post line_post1">
      <ion-col>
        <button (click)="toggle()" ion-button icon-left full clear class="btns">
          <ion-icon name="heart-outline" *ngIf="!visible"></ion-icon>
          <ion-icon name="heart" *ngIf="visible"></ion-icon>
          <div>12 نايس</div>
        </button>
      </ion-col>
    </ion-row>
  
  </ion-card>
</ion-content>